name: Update auditwheel policies

on:
  workflow_dispatch:
  schedule:
    # Run every week
    - cron: '0 0 * * 0'

permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  update:
    permissions:
      contents: write  # for peter-evans/create-pull-request to create branch
      pull-requests: write  # for peter-evans/create-pull-request to create a PR
    name: Update auditwheel policies
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
    - name: Fetch latest policy files
      run: |
        curl https://raw.githubusercontent.com/pypa/auditwheel/main/src/auditwheel/policy/manylinux-policy.json > src/auditwheel/manylinux-policy.json
        curl https://raw.githubusercontent.com/pypa/auditwheel/main/src/auditwheel/policy/musllinux-policy.json > src/auditwheel/musllinux-policy.json
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8
      with:
        delete-branch: true
        add-paths: |
          src/auditwheel/*.json
        title: 'Update manylinux/musllinux policies to the latest main'
        commit-message: 'Update manylinux/musllinux policies to the latest main'
